<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="utf-8"/>
    <title></title>
</head>
<body class="container">
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${events} and ${events.size()}">No Events!</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        </thead>
        <th:block th:each="event: ${events}">
        <tr>
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:replace="fragments :: address"></td>
        </tr>
        </th:block>
    </table>
</body>
</html>